body{
    background:blue;
}

@media screen and (max-width:400px){
    body{
        background:red
    }
}

@media screen and (min-width:401px) and (max-width:768px){
    body{
        background: green;
    }
}

