

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    /* max-width: 100%; */

}


.sub-container1{
    background: lightslategray;
    height: 100vh;
    width: 100%;
    position:relative;
}

.main-div-child {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

}


.contaier {
    padding: 0 40px;
    /* background:yellow; */
}
ul{
    list-style: none;
    float:right;
    margin-right:100px;
}

.logo{
    float:left;
    width: 50px;
    height: 50px;
    margin-left:50px;
    margin-top: 5px;

}

.logo img{
    width:100%;
    mix-blend-mode: multiply;
}

li{
    display:inline-block;
    padding:20px;
}

a{
    text-decoration: none;
    text-transform: capitalize;
}


.navbar-tabs1 {
    background:gray;
    overflow: hidden;
    
}


.mg6{
    margin:50px 0;
}

.mg5{
    margin: 0 5%;
}

.bar{
    float:left;
    width:30%;
    background:lightskyblue;
    height:200px;
}


.bar:hover{
    background:lightslategrey
}


.bars-y{
overflow:hidden;
text-align:center;
}


.x{
    color:red;
    text-transform: capitalize;
}


/* .clear{
    clear:both;
}  */