body{
    text-align:center;
}

.grid-container{
    display:grid;
    grid-gap:10px;
    grid-template-areas:
    "hd hd hd hd"
    "ad mn mn mn"
    "ad mn mn mn"
    "ad mn mn mn"
    "ft ft ft ft";
}

.grid-container > * {
    padding:30px;
    /* background: #333; */
    color:white;
}

header{
    background:green;
    grid-area:hd;
}

main{
    background:gray;
    grid-area:mn;
}

aside {
    background:#f60;
    grid-area:ad;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
    grid-auto-rows:minmax(100px,auto)
}

aside p {
    border:1px solid black;
    line-height:100px;
}

footer{ 
    background:lightseagreen;
    grid-area:ft;
}

.ul-list{
    display:flex;
    flex-direction:row;
    list-style: none;
    justify-content: center;
}

.social{
    display:flex;
    flex-direction: row;
    list-style:none;
    justify-content: flex-end;
}

li{
    margin: 0 5px;
}

/* @media (max-width:575px){
.grid-container{
    display:grid;
    grid-gap:10px;
    grid-template-areas:
    "hd hd hd hd"
    "ad ad ad ad"
    "ad ad ad ad"
    "mn mn mn mn"
     "mn mn mn mn" 
    "ft ft ft ft";
} */
