/* common */
/*
- container
- opacity hover
- section header
- section padding
- hover effect 1 (left to right)
- hover effect 2 (top to bottom)
*/



/*1- common style */

.overlay{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.7);
  }


  /* generall css styles */

  h1 , h2 ,h3 ,h4 ,h5 , h6 {
    font-family: montserrat, sans-serif;

  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box; /*css3*/ /*don't make border or padding increase the wodth for anything */
}

.container{
    width: 80%;
    margin:auto;
}


body {
    font-family: 'Varela Round', sans-serif;
}

.clear{
    clear: both;
}

/* Header*/

.header {
    /* background:gray; */
    position:fixed;
    width:100%;
    z-index:1;

}

.header .logo {
    width:30%;
    /* background: red; */
    float:left;
}

.header .logo img{
    height:50px;
    margin:20px 15px;
    width:20%;
}

.header .nav {
    width:70%;
    /* background:green; */
    float:left;
    list-style:none;
    text-align:right;
}

/* .header-content {    to solve float problem instead of clear:both all we did is adding new div
    overflow:hidden;
} 
*/

.header .nav > li {
    display:inline-block;
    /* padding: 10px; */
    text-align:right;
}

.header .nav > li > a { 
    color:white;
    text-decoration: none;
    display:block; 
    padding:30px 20px;

}

.header .nav > li > a.active:after,
.header .nav > li > a:after {
    content:"";
    display: block;
    height:5px;
    background-color: lightseagreen;
    transition: width 0.5s;
}

.header .nav > li > a.active:after {
    width:100%;
}

.header .nav > li > a:after{
    width:0;
}

.header .nav > li > a:hover:after {
    width:100%;
}

.dropdown{
position: relative;
}
.dropdown-menu{
    position: absolute;
    color:white;
    width: 150px;
    text-align:center;
    left:-50%;
    top:70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.dropdown-menu a {
    color:White;
    display: block;
    padding: 10px;
    background: gold;
}

.dropdown:hover .dropdown-menu {
    opacity:1;
    visibility: visible;
    
}

a{
    text-decoration: none;
}




    /* background:red; */


/* home section */

.home{
    height:100vh;
    background-image: url(../images/background2.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* css3*/
    position: relative;
}

.home-content{
    /* background:green; */
    width:65%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


.home .title{
    color:white;
    font-size: 3.5rem;
    text-transform: uppercase;
}


.home .home-description{
    margin :20px 0 ;
    color:white;
    letter-spacing: 2px;
}


.home .btn {
    width:150px;
    padding:10px 0;
    border-radius: 20px;
    border:0;
    cursor: pointer;
    font-size: 20px;
}

.hover-opacity:hover{
    opacity: 0.8;
}

.hover-opacity{
    transition: opacity 1s; /*css3*/
}
.home .btn-start{
    margin-right: 10px;
    background-color: teal;
    color:white;
    }

.home .btn-learn{
    background-color:gold;
}

.btn {
    font-family: inherit;
}


















